deployment_id = "intosubnets"
email = "steven@astronomer.io"
route53_domain = "steven-development.com"
vpc_id = "vpc-02846625c1b82c656"
private_subnets = ["subnet-0162d423cd972b6f9", "subnet-0175a92ac6ce8ce48"]
management_api = "public"
# If you do not need a bastion host, then you can
# omit the below variables
enable_bastion = true
public_subnets = ["subnet-060b17e3998863a1b"]
